@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Commissioner;
}
